

# ==========================
# PYTHON BASICS
# ==========================
__pycache__/
*.py[oc]
build/
dist/
wheels/
*.egg-info


# ==========================
# UV & PROJECT ENVIRONMENT
# ==========================
.venv/


# ==========================
# ENV / SECRETS
# ==========================
.env
.env.*
*.env

